.recent-posts {
    background-color: #EDF2F7;
    padding: 1.5rem;
}

.recent-posts-header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.recent-posts-title {
    font-size: 1.5rem;
    line-height: 2rem;
    
    color: #1A202C;
    font-weight: 700;
}

.recent-posts-link {
    color: #63B3ED;
    text-decoration: none;
}

.recent-posts-link:hover {
    text-decoration: underline;
}

.recent-posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .recent-posts-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}